.Inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Inputs > input{
    margin: 10px;
    width: 50%;
    height: 30px;
    margin: 0%;
}
.Inputs .IPTButton{
    margin: 10px;
    width: 50%;
    height: 30px;
    margin-top: 10px;
    border: 2px solid black;
}